{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
<link rel="stylesheet" href="{% static './css/detail.css' %}">
<script type='text/javascript'>
    _post = (function(){
        return {
            update : ()=>{
                console.log('post update')
            },
            delete : ()=>{
                console.log('post delete')
            }
        }
    })()
    _comment = (function(){
        var post_id = '{{ post.id }}';
        return {
            get : function(){
                return $.ajax({
                    url : './api/comment/get/' + post_id,
                    method : "post"
                })
                .then(function(res){
                    if(res.code === 1){
                        let comments = JSON.parse(res.data.comments);
                        // console.log(data);
                        let comments_elem = $('.comments');
                        comments_elem.children().remove();

                        let dummy = $('.dummy');
                        comments.map(comment =>{
                            let item = dummy.clone();
                            item.removeClass('dummy');
                            item.find('.comment-content').text(comment.fields.content);
                            item.find('.comment-writer').text(comment.fields.writer + ' | ' + comment.fields.date);
                            comments_elem.append(item);
                        });
                    }
                })
            },
            create : function(){
                let content = $('#ta_comment_content');
                let writer = $('#txt_comment_writer');

                if(content.val().trim().length <= 0){
                    alert('comment의 내용이 입력되지 않았습니다.');
                    return;
                }
                if(writer.val().trim().length <= 0){
                    alert('작성자 이름이 입력되지 않았습니다.');
                    return;
                }
                if(!confirm('댓글을 등록할까요?')){
                    return;
                }
                $.ajax({
                    url : "./api/comment/new/" + post_id,
                    method : 'POST',
                    data : {
                        "content" : content.val(),
                        "writer" : writer.val(),
                    }
                })
                .then(_comment.get)
                .then(function(data){
                    alert('댓글이 입력되었습니다.');
                    content.val('');
                    writer.val('');
                    _comment.get();
                })
            },
            update : function(){ 
                console.log('comment update'); 
            },
            delete : function(){ 
                console.log('comment delete'); 
            }
        }
    })();
</script>
{% endblock %}

{% block content %}

<div class="detail container">
    <div class="detail-header mt-5">
        <h2 >{{ post.title }}</h2>
        <p class='text-right'>{{ post.writer }} | {{ post.pub_date }}</p>
    </div>
    <hr>
    <div class="detail-content mt-5 mb-5">
        {{ post.body }}
    </div>
    <div class="text-right">
        {% if user.is_authenticated %}
            {% if post.writer == user.username %}
        <a href="/blog/update/{{post.pk}}">수정하기</a>
        <a href="/blog/delete/{{post.pk}}">삭제하기</a>
            {% endif %}
        {% endif %}
        <a href="../">목록으로</a>
    </div>
    <hr>
    <div class="detail-comments">
        <div class="new-comments">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Leave your comment</label>
                <textarea class="form-control" id="ta_comment_content" rows="3"></textarea>
            </div>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2" id="txt_comment_writer" placeholder="Your Name">
                </div>
                <div class="col-auto">
                    <button type="button" onclick="_comment.create()" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        </div>
        <hr>
        <h5>Recent Comments</h5>
        <hr>
        <div class="comments">
            {% for comment in comments %}
            <div class="comment-container container">
                <p class='comment-content'>
                    {{ comment.content }}
                </p>
                {% if user.is_authenticated %}
                    
                <div class="text-right comment-edit">
                    {% if comment.writer == user.username %}
                    <a href="#">수정하기</a>
                    <a href="/blog/comment/delete/{{ comment.pk }}">삭제하기</a>
                    {% elif comment.writer != user.username and post.writer == user.username %}
                    <a href="/blog/comment/delete/{{ comment.pk }}">삭제하기</a>
                    {% endif %}
                </div>
                {% endif %}
                <p class='comment-writer text-right'>
                    {{ comment.writer }} | {{ comment.date }}
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="comment-container container dummy">
            <p class='comment-content'>
            </p>
            <div class="text-right comment-edit">
                <a href="javascript:_comment.update()">수정하기</a>
                <a href="javascript:_comment.delete()">삭제하기</a>
            </div>
            <p class='comment-writer text-right'>
            </p>
        </div>
    </div>
</div>

{% endblock %}